.test1_main_container {
    background-color: #eddaa4 !important;
}

.test2_main_container {
    background-color: #c1ccd4 !important;
}

.padding-0 {
    padding-left:0 !important;
    padding-right:0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.border-selected {
    filter: grayscale(100%) brightness(80%) sepia(300%) hue-rotate(50deg) saturate(500%);
}

.margin-0{
    margin-right:0 !important;
    margin-left:0 !important;
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.pad-row-0 {
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.pad-col-0 {
    padding-left:0 !important;
    padding-right:0 !important;
}

.pad-row-0 {
    padding-top:0 !important;
    padding-bottom:0 !important;
}

.pad-row-1 {
    padding-top:1 !important;
    padding-bottom:1 !important;
}

.mar-col-0{
    margin-right:0 !important;
    margin-left:0 !important;
}

.mar-row-0 {
    margin-top:0 !important;
    margin-bottom:0 !important;
}

.navbar {
    opacity: 1 !important;
}

.filtered {
    background: darkgreen;
 }
 
 .filtered>img {
    mix-blend-mode: screen;
    -webkit-filter: grayscale(100%) contrast(200%);
    filter: grayscale(100%) contrast(200%);
    opacity: 1;
 }

